/* Style the header  background and some padding */
.header {
  overflow: hidden;
  background-color: rgb(209, 179, 226);;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: rgb(102, 74, 91);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}



/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgb(65, 43, 94);
  color: black;
}



/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/*-------------------------------------------------------------------------------------------------------------*/
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  text-align: center;
 
  color: white;
  text-align: center;
  
  animation: mymove 5s infinite;
}
.footer{
  font-family: "Sofia", sans-serif;
  font-size: 14;
}



@keyframes mymove {
  from {background-color: rgb(123, 42, 230);}
  to {background-color: rgb(209, 179, 226);}
}
/*-------------------------------------------------------------------------------------------------------------*/
/* Slideshow  */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(73, 19, 75);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(121, 7, 102, 0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
  
  /*-------------------------------------------------------------------------------------------------------------*/
/* registercss and add product add page*/

.mainregclass form
{
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.mainregclass label
{
	color: black;
}


.mainregclass
{
	
	width: 100px;
	height: 850px;
	border-radius: 60%;
	
	top: -50px;
	left: calc(50% - 50px);

	
}

.mainregclass
{

	width: 300px;
	padding: 70px;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	text-align: center;
	opacity: 0.9;
	border-radius: 20px;
}

.mainregclass input[type="text"], input[type="password"]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ce38db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	
}

.mainregclass input[type="text"]:focus, input[type="password"]:focus
{
	width: 280px;
	border-color: #5d2ecc;
	
}

.mainregclass a
{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: black;
	
}

.mainregclass a:hover
{
	color: #7c08e9;
	
}

.mainregclass input[type="submit"]
{
	
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2b0342;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.mainregclass input[type="submit"]:hover
{
	background: #6d4772;
	
	
}

.mainregclass input[type="reset"]
{
	
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2b0342;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.mainregclass input[type="reset"]:hover
{
	background: #6d4772;
}
/*-------------------------------------------------------------------------------------------------------------*/
/* loging CSS Document */

.mainloginclass
{
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}



.mainloginclass
{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	text-align: center;
	opacity: 0.75;
	border-radius: 20px;
}

.mainloginclass h1
{
	color:black;
	text-transform: uppercase;
	font-weight: 500;
	
	
}

.mainloginclass input[type="text"], input[type="password"]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #ce38db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	
}

.mainloginclass input[type="text"]:focus, input[type="password"]:focus
{
	width: 280px;
	border-color: #5d2ecc;
	
}

.mainloginclass input[type="submit"]
{
	
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #2b0342;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.mainloginclass input[type="submit"]:hover
{
	background: #6d4772;
	
	
}

.mainloginclass a
{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #000;
	
}

.mainloginclass a:hover
{
	color: #5d2ecc;
	
}
/*-------------------------------------------------------------------------------------------------------------*/
/*display product*/
form {text-align: center;}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
  }
  
 
  
  .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: rgb(107, 49, 107);
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  .card button:hover {
	opacity: 0.7;
  }
  /*-------------------------------------------------------------------------------------------------------------*/
/*about us*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(65, 43, 94);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: rgb(65, 43, 94);
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
h1 {text-align: center;}

